<div class="labels">
  <label class="lblCadastro" type="text">Realizar cadastro no aplicativo:</label>
</div>
<ion-list class="listCadastro">
  <ion-item class="cadastroNome">
    <ion-input class="inp" type="text" placeholder="Digite seu nome completo." required></ion-input>
  </ion-item>
  <ion-item class="cadastroEmail">
    <ion-input class="inp" type="email" placeholder="Digite seu e-mail." required></ion-input>
  </ion-item>
  <ion-item class="cadastroCelular">
    <ion-input class="inp" type="tel" placeholder="Digite seu número de celular." required></ion-input>
  </ion-item>
  <ion-item class="cadastroSenha">
    <ion-input class="inp" type="password" placeholder="Digite sua senha." required></ion-input>
  </ion-item>
  <!-- <ion-item class="cadastroSenhaConfirma">
    <ion-input class="inp" type="password" placeholder="Confirme sua senha." required></ion-input>
  </ion-item> -->
  <ion-item class="cadastroNome">
    <ion-input class="inp" type="text" placeholder="Digite seu nome completo." required></ion-input>
  </ion-item>
  <ion-item class="cadastroNome">
    <ion-input class="inp" type="text" placeholder="Digite seu nome completo." required></ion-input>
  </ion-item>
  <ion-item class="cadastroNome">
    <ion-input class="inp" type="text" placeholder="Digite seu nome completo." required></ion-input>
  </ion-item> 
  <button class="btnCadastro" ion-button color="dark" ion-button full style="text-align:center;">Cadastrar</button>
</ion-list>