page-placar-roda-pe {
    .btn{
        background-color: rgb(4, 49, 134);
        color: #fff;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 5px;
      }
    .btn-blue:hover{
        background:rgb(198, 219, 243);  
    }
    .btn-blue:active{//faz com que botão pareça que está sendo precionado
        position: relative;
        top: 5px;
        
    }
    div{
        text-align: center;
    }
    .card{
        border-radius: 10px 10px;
        

    }
}
