<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
    <div class="position-central">
  
      <div class="flex flex-direction-row">

        <img src="../../assets/imgs/icone_placar.png" class="icone-placar"/>
        
        <div class="flex flex-direction-row position-placar-online">
          <h2 class="placar-online">
            PLACAR ONLINE
          </h2>
        </div>

      </div>
      
      <div class="pai-subtitulos flex flex-direction-column">
        <div class="position-filhos">

            <div class="position-super-liga">
              <p class="super-liga">
                SUPERLIGA 2018/2019
              </p>
            </div>

            <div class="position-rodada">
              <p class="rodada">
                10º RODADA - JOGO 125
              </p>
            </div>
        
            <div class="position-ginasio">
              <p class="ginasio">
                Ginásio Abaeté - Taubaté, SP
              </p>
            </div>

            <div class="position-data">
              <p class="data">
                09/03/2018 | 18:30
              </p>
            </div>

        </div>
          
      </div>

      <div class="pai-times-partida flex">
        
        <div class="time1-partida flex">
          <img src="../../assets/imgs/time-1.png" class="escudos"/>
          <p>time x</p>
        </div>

        <div class="flex">    
          <p class="versus-x">X</p>
        </div>

        <div class="time2-partida flex">
          <img src="../../assets/imgs/time-1.png" class="escudos"/>
          <p>time x</p>
        </div>
      </div>
    </div>
  </ion-content>
  