<!-- Generated template for the LojaTorcidaComponent component -->
<div class="content">

  <div class="title item">
    <img src="../../assets/imgs/Icones-telas/icone-loja.png">
    <h3> LOJA DA TORCIDA </h3>
  </div>

  <div class="intro item">
    <h4>Produtos exclusivos para você!</h4>
    <p> Aqui você pode usar a pontuação acumulada no programa <strong>Torcida SJV</strong> 
      ou pode ganhar mais pontos nas suas compras e obter mais benefícios!</p>
  </div>

  <div id="teste">
  <div class="shop item">
    <div class="product">
      <img src="../../assets/imgs/camisa1.png">
      <p class="product-name">Nome</p>
      <p class="product-price">R$ 30</p>
      <p class="product-description">Breve descrição...<strong>SAIBA MAIS</strong></p>
    </div>
    <div class="product">
      <img src="../../assets/imgs/camisa1.png">
      <p class="product-name">Nome</p>
      <p class="product-price">R$ 30</p>
      <p class="product-description">Breve descrição...<strong>SAIBA MAIS</strong></p>
    </div>
    <div class="product">
      <img src="../../assets/imgs/camisa1.png">
      <p class="product-name">Nome</p>
      <p class="product-price">R$ 30</p>
      <p class="product-description">Breve descrição...<strong>SAIBA MAIS</strong></p>
    </div>
    <div class="product">
      <img src="../../assets/imgs/camisa1.png">
      <p class="product-name">Nome</p>
      <p class="product-price">R$ 30</p>
      <p class="product-description">Breve descrição...<strong>SAIBA MAIS</strong></p>
    </div>
  </div>
  </div>

  <div class="bolas">
    <span>A</span>
    <span>A</span>
    <span>A</span>
    <span>A</span>
    <span>A</span>
  </div>
  
</div>
