loja-torcida {
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 2.2;
    }
    
    .flex {
        display: flex;
    }

        .item {
            flex: 1;
            flex-basis: 50%;
            font-size: 11px;
            text-align: justify;
            &.shop {
                flex: 2;
                flex-basis: 100%;
            }
        }
        .titulo-loja { 
            font-size: 15px;
            font-family: Arial;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
        }
        .title {
            display: flex;
            img {
                margin: 1%;
                width: 45px;
                height: 45px;
            }

        }
        .intro {
            
            margin: 0% 8% 0% 22%;
        }
        .shop {
            display: flex;
            flex-wrap: wrap;
            max-height: 240px;
            overflow: auto;
            overflow-x: hidden;
            .product {
                background-color: #e5e6e7;
                max-width: 125px;
                margin-left: 12px;
                margin-bottom: 20px;
                border-radius: 25px;
                text-align: center;
                p {
                    margin:0;
                    margin-left: 15px;
                    text-align:left;
                }
                img {
                    margin: 10px 0;
                }
                .product-name {
                    font-size:14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .product-price {
                    font-size: 13px;
                    color: #0f558b;
                }
                .product-description {
                    font-size: 11px;
                    margin-bottom: 10px;
                }
            }
        }

        }
