loja-torcida {
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 2.2;
    }
    
    .flex {
        display: flex;
    }

        .item {
            display: flex;
            justify-content: center;
            flex: 1;
            flex-basis: 50%;
            font-size: 11px;
            text-align: justify;
            &.shop {
                flex: 2;
                flex-basis: 100%;
            }
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #06548c;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: #06548c;
        }

        .titulo-loja { 
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
            justify-content: center;
            align-items: center;
        }
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
        }

        .icone-torcida {
            display: flex;
            justify-content: flex-start;
            width: 45px;
            height: 45px;
            position: absolute;
        }
        .texto {
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
        
        }
        .intro {
            margin: 5% 8%;
            flex-direction: column;
            .intro-bold {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .shop {
            display: flex;
            flex-wrap: wrap;
            max-height: 240px;
            overflow: auto;
            overflow-x: hidden;
            .product {
                background-color: #e5e6e7;
                max-width: 150px;
                margin-left: 1%;
                margin-bottom: 20px;
                border-radius: 25px;
                text-align: center;
                p {
                    margin:0;
                    margin-left: 15px;
                    text-align:left;
                }
                img {
                    margin: 10px 0;
                }
                .product-name {
                    font-size:14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .product-price {
                    font-size: 13px;
                    color: #0f558b;
                }
                .product-description {
                    font-size: 11px;
                    margin-bottom: 10px;
                }
            }
        }

        }
