app-hot-news {

    padding: 0;
    .title-hot-news{
      color: #fff;
      width: 350px;
      text-align: left;
    
      height: 60px;
      font-family: Calibri;
      font-size: 23px;
  
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
  
    }
    .txt-new{
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
  
    }
    .link-news{
      color: #fff;
      width: 350px;
      text-align: right;
    
      height: 50px;
      font-family: Arial;
      font-size: 15.5px;
    
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
  
  
  
    }
  
  }
  