app-hot-news {

    .content-hot-news{
     padding: 3%
    
    }

    .title-hot-news{
      color: #fff;
      text-align: left;
      font-family: Calibri;
      font-weight: bold;
      font-size: 17px;
      line-height: 1;
  
    }
    .txt-new{
      line-height: 1;
      color: #fff;
      font-size:13px;
      text-align: justify;
    }
    .link-news{
      color: #fff;
      text-align: right;
      font-family: Arial;
      font-size: 13px;
      line-height: 1;
  
  
  
    }
  
  }
  