<img class="icone-pontos" src="../../assets/imgs/Icones-telas/icone-pontos.png">
<div class="titulo-pontos">

  <h1>MEUS PONTOS</h1>
</div>

<div class="flex texto">

  <p class="subtitulo-pontos">Confira e use a sua pontuação.</p>

  <p>Sabia que existem inmeras maneiras para você usar seus pontos em experiencias, para trocar por ingressos de jogos oficiais ou na aquisição de produtos exclusivos?</p>

</div>

<div class="flex pontuacao">

  <p>Seu saldo em 12/02/2019 18:52 é:</p>
   <h1>{{pontos}}</h1> 
  <p>Pontos disponiveis para resgate!</p>

</div>


<div class="premios">
  <div class="sugestao-txt">
    <p>Sugestões para o uso da pontuação:</p>
  </div>

  <ion-card  *ngFor="let item of lista" class="card-item">
    <h2> {{item.nome}}</h2>
    <p>{{item.data}}</p>
    <p> {{item.custo}}</p>
    <p> {{item.local}}</p>
    <h3>Disponivel: {{item.qtdDisponivel}}</h3>
    <p>Descrição: {{item.descricao}}</p>
  </ion-card>

  <div class="flex ir-para-loja">
    <p> Me leve para a <a><button (click)="irLoja()" class="botao-menu-central">LOJA DA TORCIDA!</button></a> </p>
  </div>