<!-- Generated template for the AppSeusPontosComponent component -->
<div>
  {{text}}
</div>
<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="bolinha">
      <img src="../../assets/imgs/bolinha.png">
    </div>
  
    <div class="sp">
      <p>Seus Pontos</p>
    </div>

    <div class="cp">
      <p>Confira e use a sua pontuação</p>
    </div>

    <div class="sm">
      <p>Sabia que existem inmeras maneiras para</p>
    </div>

    <div class="ve">
      <p>você usar os seus pontos em experiências</p>
    </div>

    <div class="po">
      <p>para trocar por ingressos de jogos oficiais ou</p>
    </div>

    <div class="ne">
      <p>na aquisição de produtos exclusivos?</p>
    </div>
     
    <div class="ss">
      <p>Seu saldo em 12/02/2019 18:52 é:</p>
    </div>

    <div class="pontos">
        <p>120.948</p>
    </div>
</div>
</ion-content>
