app-seus-pontos {

}
page-home {
    .bolinha{
        width: 71px;
        height: 71px;
        object-fit: contain;
      }
    
    .sp {
        width: 195px;
        height: 20px;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: black;
      }

    .cp {
        width: 295px;
        height: 19px;
        font-family: Arial;
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }

      .sm {
        width: 294px;
        height: 14px;
        font-family: Arial;
        font-size: 14.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .ve {
        width: 296px;
        height: 14px;
        font-family: Arial;
        font-size: 14.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .po {
        width: 305px;
        height: 14px;
        font-family: Arial;
        font-size: 14.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .ne {
        width: 254px;
        height: 14px;
        font-family: Arial;
        font-size: 14.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .ss {
        width: 255px;
        height: 20px;
        font-family: Arial;
        font-size: 14.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      .pontos {
        width: 351px;
        height: 73px;
        font-family: Arial;
        font-size: 91px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      
}
