<!-- Generated template for the FooterAppVoleiComponent component -->
<footer class="footer">
    <div class="flex redes-sociais">
      <a href="https://www.facebook.com/saojudasvoleibol/" target="_blank"><img src="../../assets/imgs/Footer-imgs/facebook-icone.png"  class="imagem"></a>
      <a href="https://www.instagram.com/saojudasvoleibol/" target="_blank"><img src="../../assets/imgs/Footer-imgs/instagram-icone.png"  class="imagem"></a>
      <a href="mailto:saojudasvoleibol@gmail.com" target="_blank"><img src="../../assets/imgs/Footer-imgs/email-icone.png"  class="imagem"></a>
      <a href="https://www.sympla.com.br/saojudasvoleibol" target="_blank"><img src="../../assets/imgs/Footer-imgs/site-icone.png"  class="imagem"></a>
    </div>
    <div id = "link">
      <a href="#" class = "links">Dúvidas</a>
      <a href="#" class = "links">|</a>
      <a href="#" class = "links">Fale conosco</a>
      <a href="#" class = "links">|</a>
      <a href="#" class = "links">Atualize seu cadastro</a>
    </div>  
  </footer>