footer-app-volei {
    .footer{
        text-align: center;
    }
    .imagem{
        margin: 5px;
        width: 30px;
        height: 30px;
    }
    .links{
        font-family: Ebrima;
        font-size: 13px;
        color: #ffffff;
    
    }
    #link{
        margin-bottom: 15px;
    }
}
