<!-- Generated template for the FooterAppVoleiComponent component -->
<footer class="footer">
    <div class="flex redes-sociais">
      <img src="../../assets/imgs/Footer-imgs/facebook-icone.png"  class="imagem" (click)="irFacebook()">
      <img src="../../assets/imgs/Footer-imgs/instagram-icone.png"  class="imagem" (click)="irInstagram()">
      <img src="../../assets/imgs/Footer-imgs/email-icone.png"  class="imagem" (click)="irEmail()">
      <img src="../../assets/imgs/Footer-imgs/site-icone.png"  class="imagem" (click)="irWeb()">
    </div>
    <div id = "link">
      <a href="#" class = "links">Dúvidas</a>
      <a href="#" class = "links">|</a>
      <a href="#" class = "links">Fale conosco</a>
      <a href="#" class = "links">|</a>
      <a href="#" class = "links">Atualize seu cadastro</a>
    </div>  
  </footer>