<!-- Generated template for the FooterDivCentralComponent component -->
<div class="flex menu-central">
    
        <button (click)="irPlacar()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone_placar.png"  class="imagem"></button>
        <button (click)="irEspaco()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone-espaco-torcedor.png"  class="imagem"></button>
        <button (click)="irMarket()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone-marketplace.png"  class="imagem"></button>
        <button (click)="irCupom()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone-cupons-descontos.png"  class="imagem"></button>
        <button (click)="irLoja()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone-loja.png"  class="imagem"></button>
        <button (click)="irPontos()" class="botao-menu-central"><img src="../../assets/imgs/Icones-telas/icone-pontos.png"  class="imagem"></button>
</div>