<!-- Generated template for the CadastroScreenComponent component -->
<div>
  <div class="formulario">
    <img class="imgUser" src="../assets/imgs/user.png">
    
    <div class="preencher">
      <input type="text" id="inpNome"  placeholder="Nome.">
      <input type="text" id="inpEmail" placeholder="Email.">
      <input type="password" id="inpSenha" placeholder="Senha.">
      <input type="checkbox" id="checkSocio" name="socio" value="Socio"> Sócio<br>
      <button id="btnCadastrar" ion-button color="dark" ion-button full style="text-align:center;">CADASTRAR</button>
    </div>
  
  </div>
</div>