cadastro-screen {

    .formulario {
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 100px;
        
        .lblCadastroDeUsuario {
            font-weight: bold;
            color: #fff;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            position: relative;
            top: -50px;
            font-size: 25px;
            text-shadow: 5px 5px 10px #34495e;
            letter-spacing: 1px;
        }

        .imgUser {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            width: 55%;
        }

        .preencher {
            #inpNome, #inpEmail, #inpSenha {
                width: 100%;
                margin-top: 20px;
                border-radius: 20px;
                padding: 10px;
                box-shadow: none;
                border: 0;
                padding-left: 10px;
                font-weight: bold;
            }

            #checkSocio {
                margin-top: 10px;
                margin-left: 110px;
                min-width: 16px;
                min-height: 16px;
                margin-right: 2px;
                color: #fff;
            }

            #btnCadastrar {
                margin-top: 20px;
                border-radius: 20px;
            }
        }
    }
}