.pai-jogos-info{
margin: 10px auto;

    .jogos-info1 {
      justify-content: space-around;
  
    }
    .jogos-info2{
      justify-content: center;
    }
  
    .link-jogos {
      font-family: Arial;
      font-size: 12px;
      color: #000000;
  
    }
    .link-jogos:active {
      background-color: grey;
    }
  }