<!-- Generated template for the MarketplaceComponent component -->

<img class="icone-market" src="../../assets/imgs/Icones-telas/icone-marketplace.png" alt="ico-market">

  <div class="title">
    <p> MARKETPLACE </p>
  </div>

  <div class="intro item">
    <p class="subtitulo-intro">Aqui você ganha em dobro!</p>
    <p> Além de ter preços especiais nos serviços ou produtos adquiridos nos nossos parceiros,
        você ainda acumula pontos no programa de benefícios <strong>Torcida SJV</strong>!</p>
  </div>

    <div class="shop item">
      <div class="product">
        <img src="../../assets/imgs/uber-logo.jpg">
        <p class="product-name">Nome</p>
        <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
      </div>
      <div class="product">
        <img src="../../assets/imgs/uber-logo.jpg">
        <p class="product-name">Nome</p>
        <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
      </div>
      <div class="product">
        <img src="../../assets/imgs/uber-logo.jpg">
        <p class="product-name">Nome</p>
        <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
      </div>
      <div class="product">
        <img src="../../assets/imgs/uber-logo.jpg">
        <p class="product-name">Nome</p>
        <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
      </div>
      <div class="product">
          <img src="../../assets/imgs/uber-logo.jpg">
          <p class="product-name">Nome</p>
          <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
        </div>
        <div class="product">
          <img src="../../assets/imgs/uber-logo.jpg">
          <p class="product-name">Nome</p>
          <p class="product-description">Ganhe 5 pontos a cada R$ 15,00 gastos. Triplo</p>
        </div>
    </div>


