<!-- Generated template for the CadastroScreenComponent component -->
<div>
    

  <div class="formulario">
    <label class="lblCadastroDeUsuario" type="text">Cadastro de Torcedor</label>
    <img class="imgUser" src="../assets/imgs/user.png">
    <ion-list>  
      <div class="preencher">
        <div class="serSocio" *ngIf="!usuario.socio" >
          <ion-item  no-lines  class="item-list">
           <input  class= "inp" type="text" [(ngModel)]="socio.cpf" placeholder="CPF.">
          </ion-item>
          <ion-item no-lines  class="item-list">
            <input class= "inp" type="text" [(ngModel)]="socio.celular"placeholder="Celular.">
          </ion-item>
          <ion-item no-lines  class="item-list">
            <input class= "inp" type="text" [(ngModel)]="socio.endereco"placeholder="Endereço.">
          </ion-item>
          <ion-item no-lines  class="item-list">
            <input class= "inp" type="text" [(ngModel)]="socio.genero"placeholder="Genero.">
          </ion-item>
          <ion-item  no-lines  class="item-list">
            <input class= "inp" type="text" [(ngModel)]="socio.dataNascimento" placeholder="Data de Nascimento.">
          </ion-item>
       
        
        <!-- <input type="checkbox" id="checkSocio" name="socio" value=" Socio">Sócio<br>
        <select class="selectSocioUsuario" (change)="selectInput($event)" aria-placeholder="Selecionar tipo ----">
            <option id="selectSelecionar" value="selecionar">--- Selecionar tipo de usuário ---</option> 
            <option id="selectUsuario" value="usuario">Usuário</option>
            <option id="selectSocio" value="socio">Sócio</option>
        </select> -->
        <button id="btnCadastrar" (click)="serSocio()" ion-button color="dark" ion-button full style="text-align:center;">CADASTRAR</button>
      </div>
      </div>
      
  </ion-list>
  <div class="naoSerSocio" *ngIf="usuario.socio" >
      <button id="btnNaoSocio" (click)="naoSerSocio()" ion-button color="dark" ion-button full style="text-align:center;">Desfazaer Sociedade</button>
  </div>
  </div>
 
</div>