
      <div class="cabecalho">

        <img id ="imgBandeira" src="../../assets/imgs/Icones-telas/icone-espaco.png">

        <div class="posicao-titulo-espaco">
        <p class="titulo-espaco">ESPAÇO DO TORCEDOR</p>
        </div>
        
      </div>
  
      <div class="informacoes">
        <h3 class="titulo-informacoes-bold">Ganhe também fora da quadra!</h3>
        <p class="titulo-informacoes">O torcedor do São Judas Voleibol conta com benefícios benefícios exclusivos, em várias regiões da cidade. 
        Torne-se um sócio e tenha acesso a tudo isso e muito mais!</p>
      </div>
  
      <div class="setores">
        <div class="setor1">
              <div class="setor-seja-socio">  
                <img id="imgSejaSocio" src="../assets/imgs/seja-socio.png">
                <h2 class="titulo-do-setor">SEJA SÓCIO</h2>
                <p class="descricao-setor">É rápido, fácil e você já começa a usar todos os benefícios quando o seu cadastro for aprovado. 
                <a href="#" class="saiba-mais">Saiba mais.</a></p>
              </div>
        
              <div class="setor-ingressos">
                <img id="imgIngressos" src="../assets/imgs/ingressos.png">
                <h2 class="titulo-do-setor">INGRESSOS</h2>
                <p class="descricao-setor">Restaurantes, bares, shows, lanchonetes, lojas, baladas, farmácias, pet-shops e um monte de lugares.
                <a href="#" class="saiba-mais">Saiba mais.</a></p>
              </div>
        </div>
  
      <div class="setor2">
        <div class="setor-convenios">
          <img id="imgConvenios" src="../assets/imgs/convenios.png">
          <h2 class="titulo-do-setor">CONVÊNIOS</h2>
          <p class="descricao-setor">Restaurantes, bares, shows, lanchonetes, lojas e muito mais, saiba quais são os convenios do time!
          <a href="#" class="saiba-mais">Saiba mais.</a></p>
        </div>
  
      <div class="setor-experiencias">
        <img id="imgExperiencias" src="../assets/imgs/experiencias.png">
        <h2 class="titulo-do-setor">EXPERIÊNCIAS</h2>
        <p class="descricao-setor">Já pensou em passar um dia todo com o elenco do time? Agora é possivel!
        <a href="#" class="saiba-mais">Saiba mais.</a></p>
      </div>
      
    </div>
 