<!-- Generated template for the AppFooterComponent component -->
<ion-footer no-border transparent translucent = "true" class="footer">
  <ion-toolbar transparent>
    <img src="../../assets/imgs/facebook_pronto.png"  class="imagem" (click)="irFacebook()">
    <img src="../../assets/imgs/instagram2_pronto.png"  class="imagem" (click)="irInstagram()">
    <img src="../../assets/imgs/email2_pronto.png"  class="imagem" (click)="irEmail()">
    <img src="../../assets/imgs/web_pronto.png"  class="imagem" (click)="irWeb()">
  </ion-toolbar>
  <div id = "link">
    <a class = "links">Dúvidas</a>
    <a class = "links">|</a>
    <a class = "links">Fale conosco</a>
    <a class = "links">|</a>
    <a class = "links">Atualize seu cadastro</a>
  </div>  
</ion-footer>