<div class="content">
    <img src="../../assets/imgs/Icones-telas/icone-cupons-descontos.png">
  <div class="flex intro">
      <p class="titulo-placar">CUPONS DE DESCONTO</p>
  </div>

  <div class="flex pai-intro-texto">
    <div class="filho-intro-texto">
          <p class="flex intro-texto-bold">
            Aproveite as promoções!
          </p>
          <p class="flex intro-texto">
          Use os cupons promocionais e economize em compras e em serviços! <br>
          E se você for torcedor cadastrado, ainda pode ganhar em dobro!
          </p>
    </div>
  </div>

  <div class="area-descontos">
      <div class="parceiro-descontos" *ngFor="let item of lista">
          <!-- <div class="parceiro-image" [ngStyle]="{'background-image': 'url(' + parceiro.imagem + ')'}"></div> -->
          <!-- <img [src]="parceiro.imagem" class="icone-parceiro-desconto"> -->
      <div class="parceiro-desconto-intro">
        <h4>{{item.nome}}</h4>
          <p>Endereço: {{item.endereco}}</p>
          <p>Telefone: {{item.fone}}</p>
          <p>E-mail: {{item.email}}</p>       
      </div>
      <div class="parceiro-cupom" (click)="gerarCupom(item.nome)">
        <p class="parceiro-cupom-texto">GERAR CUPOM</p>
      </div>
    </div>
  </div>
</div>