espaco-torcedor {

    .background {
    background-color: white; 
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    }

    .bandeira{
    float: left;      
    width: 71px;
    height: 71px;
    }
    
    .texto{
    float: right
    }
}