<!-- Corpo do Espaço do torcedor -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Espaço Torcedor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="background" >

    <!-- vamos tentar algo diferente-->
    <div class="row">
        <div class="bandeira"><img src="assets/imgs/bandeira.png"></div>
        <div class="texto"><h1>Espaço do Torcedor</h1>
          <h3>Ganhe também fora da quadra!</h3>
            <p> O torcedor da São Judas Voleibol conta com benefícios exclusivos, em várias regiões da cidade.
              Torne-se um sócio torcedor e tenha acesso imediato a tudo isso e muito mais!
            </p>
          </div>
      </div>

    </div>          
  
    <div class = "container">
    <!-- Espaço com os icones -->

    </div>
  </ion-content>
    <div class="topo">
      <!-- topo da pagina -->
      
    
    <div class="espaco">
      <!-- titulo da pagina -->
      <h1 class="titulo">Espaço do Torcedor</h1>
    </div>
    <div class = "bandeira" height="71" width="71">
      <!-- imagenzinha do topo da pagina -->
      <img src="assets/imgs/bandeira.png">
    </div>
  </div>
    <h2 class="titulo2">Ganhe também fora da quadra!</h2>
      <h1 class="texto">O torcedor da São Judas Voleibol conta com benefícios exclusivos, em várias regiões da cidade.
        Torne-se um sócio torcedor e tenha acesso imediato a tudo isso e muito mais!
      </h1>
  </div>
  <div class = "container">
    <!-- Espaço com os icones -->

  </div>
  
</ion-content>
