<ion-content class="bg">

  <img id="imgLogo" src="assets/imgs/logousjt.png">
  
  <div class="labels">
    <label id="lblTime" type="text">O app da torcida do</label>
    <p><label id="lblVolei" type="text">São Judas Voleibol!</label></p>
  </div>  

    <form class="form-login">   
          
        <ion-item>
          <input type="text" placeholder="Digite seu email.">
        </ion-item>
        
        <ion-item>
          <input type="password" placeholder="Digite sua senha.">
        </ion-item>

        <button id="btnAcessar" ion-button color="dark" ion-button full style="text-align:center;">Acessar</button>
        <ion-label id="lblEsqueceu">Esqueceu a senha link</ion-label>
    </form>
</ion-content>
  