<div class="bg">

  <img id="imgLogo" src="assets/imgs/logo-usjt.png">
  
  <div class="labels">
    <label id="lblTime" type="text">O app da torcida do</label>
    <p><label id="lblVolei" type="text">São Judas Voleibol!</label></p>
  </div>

  <form class="form-login">
    <div id="inpLogin" text-center>
      <input type="text" style="min-width:80%;" placeholder="Digite seu email.">
    </div>

    <div id="inpSenha" text-center>
      <input type="password" style="min-width: 80%;" placeholder="Digite sua senha.">
    </div>

    <button id="btnAcessar" ion-button color="dark" ion-button full style="text-align:center;">ACESSAR</button>
      <div class="campoCadastro">
        <label id="lblPrimeiroAcesso">Primeiro Acesso?</label>
          <a (click)="goForm()" id="linkCadastro">Cadastre-se aqui!</a>
      </div>
  </form>
</div>