<!-- Generated template for the PlacarSetsComponent component -->
<div class="content">
    
    <div class="row">

        <a class= "pontos-set">1</a>
        <div class="col">
            <div class="row">
                <div class="potuacao-partida">
                    <a class="pontos-partida">22</a>
                </div>
           </div>
           <div class="row">
            <div class="saque"></div>
           </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="bolinha"></div>
                    </div>
                    <div class="row">
                            <div class="bolinha"></div>
                    </div>
                
                </div>
                <div class="col">
                    <p class="titulo-tempo-tecnico">TEMPO TECNICO </p>
                    
                </div>
                <div class="col">
                    <div class="row">
                        <div class="bolinha"></div>
                    </div>
                    <div class="row">
                        <div class="bolinha"></div>
                    </div>

                </div>
            </div>
            <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="bolinha"></div>
                        </div>
                        <div class="row">
                                <div class="bolinha"></div>
                        </div>
                    
                    </div>
                    <div class="col">
                        <p class="titulo-desafio">DESAFIO</p>
                        
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="bolinha"></div>
                        </div>
                        <div class="row">
                            <div class="bolinha"></div>
                        </div>
    
                    </div>
                </div>
         </div>
         <div class="col">
             <div class="row">
                 <div class="potuacao-partida">
                     <a class="pontos-partida">22</a>
                 </div>
            </div>
            <div class="row">
             <div class="saque"></div>
            </div>
           
        </div>
        <a class= "pontos-set">1</a>
    </div>
    <div id="lista-resultado-sets">
        <a class= "resultado_sets">22x20</a>
        <a class= "resultado_sets"> | 12x14  </a>
        <a class= "resultado_sets_cinza"> | 00x00  </a>
        <a class= "resultado_sets_cinza"> | 00x00  </a>
        <a class= "resultado_sets_cinza"> | 00x00  </a>
    </div>
   
</div>