
<button (click)="irPlacar()" class="flex item-menu">
  <img src="../../assets/imgs/Icones-telas/icone_placar.png" class="icone-menu">

  <div class="flex pai-texto-menu">
    <p class="flex titulo-texto-menu">
      PLACAR ONLINE
    </p>
    <p class="flex subtitulo-texto-menu">
      Acompanhe os jogos do São Judas Voleibol e seu desempenho nos campeonatos.
  </div>
</button>

<button (click)="irPlacar()" class="flex item-menu">
    <img src="../../assets/imgs/Icones-telas/icone-espaco-torcedor.png" class="icone-menu">
  
    <div class="flex pai-texto-menu">
      <p class="flex titulo-texto-menu">
        ESPAÇO DO TORCEDOR
      </p>
      <p class="flex subtitulo-texto-menu">
          Conheça os benefícios que somente o Sócio Torcedor do São Judas Voleibol possui.
    </div>
</button>

<button (click)="irPlacar()" class="flex item-menu">
    <img src="../../assets/imgs/Icones-telas/icone-marketplace.png" class="icone-menu">
  
    <div class="flex pai-texto-menu">
      <p class="flex titulo-texto-menu">
        MARKETPLACE
      </p>
      <p class="flex subtitulo-texto-menu">  
        Lojas e serviços que oferecem benefícios exclusivos para a Torcida SJV.
    </div>
</button>

<button (click)="irCupom()" class="flex item-menu">
    <img src="../../assets/imgs/Icones-telas/icone-cupons-descontos.png" class="icone-menu">
  
    <div class="flex pai-texto-menu">
      <p class="flex titulo-texto-menu">
        CUPONS DE DESCONTO
      </p>
      <p class="flex subtitulo-texto-menu">  
        Economize com os cupons para usar na rede credenciada Torcida SJV.
    </div>
</button>

<button (click)="irLoja()" class="flex item-menu">
    <img src="../../assets/imgs/Icones-telas/icone-loja.png" class="icone-menu">
  
    <div class="flex pai-texto-menu">
      <p class="flex titulo-texto-menu">
        LOJA DA TORCIDA
      </p>
      <p class="flex subtitulo-texto-menu">
          Compre produtos licenciados e ingressos para os jogos do São Judas Voleibol.
    </div>
</button>

<button (click)="irPontos()" class="flex item-menu">
    <img src="../../assets/imgs/Icones-telas/icone-pontos.png" class="icone-menu">
  
    <div class="flex pai-texto-menu">
      <p class="flex titulo-texto-menu">
        SEUS PONTOS
      </p>
      <p class="flex subtitulo-texto-menu">
          Acompanhe a sua pontuação no programa de benefícios Torcida SJV.
    </div>
</button>